@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Lexend+Deca:wght@200;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
@apply
bg-back-100
}

.App {
  @apply 
  flex flex-col overflow-auto h-screen 
  text-white
  text-center
  -mt-5 xl:mt-0
}

.teamIMG {
  @apply
  rounded-full h-32 w-32 mx-auto
}

.pages {
  @apply
  hover:text-col-200 hover:animate-pulse
  mt-4
  md:text-xl
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
